@media (min-width: 960px){
  main{
    width: 960px;
    margin: auto;
  }
  header{
    background-color: hotpink;
    width: 958px;
    height: 98px;
  }
  #bsection{
    width: 200px;
  }
  #b{
    height: 598px;
    width: 198px;
    float: left;
    background-color: purple;
  }
  #cd{
    width: 760px;
    height: 200px;
    float:right;
  }
  #cd div{
    width: 378px;
    height: 198px;
  }
  #c{
    float: left;
    background-color: indigo;
  }
  #d{
    float: right;
    background-color: blue;
  }
  #e{
    background-color: cyan;
  }
  #f{
    background-color: chartreuse;
  }
  #ef {
    width: 380px;
    height: 250px;
    float: left;
  }
  #gh {
    width: 380px;
    height: 250px;
    float: right;
  }
  #ef div{
    width: 188px;
    height: 248px;
  }
  #gh div{
    width: 188px;
    height: 248px;
  }
  #g{
    background-color: yellow;
  }
  #h {
    background-color: orange;
  }
  #isection{
    float: right;
    width: 760px;
    height: 150px;
  }
  #i{
    width: 758px;
    height: 148px;
    background-color: red;
  }
  


}