@media (min-width: 960px){
  main{
    width: 100vw;
   
   display:flex;
  
  } 
  header{
    width: 102vw;
    background-color: hotpink;
    height: 98px;
  }
  #bsection{
    display: inline;
    width: 200px;
  }
  #b{
    height: 598px;
    width: 198px;
    background-color: purple;
  }
  #cd{
    width: 85vw;
    height: 200px;
    display: flex;
  }
  #cdefgh{
    display:flex;
    flex-wrap: wrap;
  }
 #cd div{
    height: 198px;
  }
  #c{
    background-color: indigo;
  }
  #d{
    background-color: blue;
  }
  #e{
    background-color: cyan;
  }
  #f{
    background-color: chartreuse;
  }
  #ef {
   width: 50%;
    height: 250px;
  }
  #gh {
    width: 50%;
    height: 250px;
  }
  #efgh{
    display: flex;
  }
  #ef div{

    height: 248px;
  }
  #gh div{
 
    height: 248px;
  }
  #g{
    background-color: yellow;
  }
  #h {
    background-color: orange;
  }
  #isection{
    width: 85vw;
    height: 150px;
  }
  #i{
   width: 85vw;
    height: 148px;
    background-color: red;
  }
  


}