header{
  background-color: red;
}
main{
  width: 480px;
  margin: auto;
}
#cd div{
  min-height: 125px;
}
#b{
  height: 150px;
  background-color: orange;
}
#c {
  background-color: yellow;
}
#d{
  background-color: chartreuse;
}

#ef div{
  width: 238px;
  height: 250px;
}
#gh div{
  width: 238px;
  height: 250px;
}
#e{
  float:left;
  background-color: cyan;
}
#f{
  float:right;
  background-color: blue;
}

#g{
  float:left;
  background-color: indigo;
}
#h{
  float: right;
  background-color: purple;
}
#i{
  height: 80px;
  background-color: hotpink;
}
